<html>
<head>
    <title>Purchase Application</title>
</head>
<body>
    <h3>Purchase Application</h3>
	<hr>
    {% if errors %}
        <ul>
            {% for error in errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <form action="/munkistore/buy_app/" method="POST">
    	{% csrf_token %}
    	<p>App name: <input type="text" name="appName"></p>
    	{{ form }}
        <!--<p>Your name: <input type="text" name="userName"></p>
        <p>Cost Code: <input type="text" name="costCode"></p></p>
        -->
        <input type="submit" value="Submit">
    </form>
</body>
</html>